<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>别踩白块</title>
		<style type="text/css">
			* {
				margin:0;
				padding:0;
			}
			html,body{
				height:100%;
				width:100%;
			}
      canvas { 
      	display: block;
      }
    </style>
		<script type="text/javascript">
			document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
				WeixinJSBridge.call('hideToolbar');
			});
			var Width = window.innerWidth;
			var Height = window.innerHeight;
			function init(){
				document.getElementById('canvas').width = Width;
				document.getElementById('canvas').height = Height;
			  clock();
			}
			function clock(){
			  var ctx = document.getElementById('canvas').getContext('2d');
			  ctx.save();
			  ctx.clearRect(0,0,Width,Height);
			  ctx.strokeStyle = "black";
			  ctx.fillStyle = "white";
			  ctx.lineWidth = 1;

			  // Hour marks
			  ctx.save();
			  for (var i=1;i<4;i++){
			  	if((i*Width/4)%1==0){
			  		ctx.beginPath();
				    ctx.moveTo(i*Width/4+0.5,0);
				    ctx.lineTo(i*Width/4+0.5,Height-1);
				    ctx.stroke();
			  	}else{
			  		ctx.beginPath();
				    ctx.moveTo(i*Width/4,0);
				    ctx.lineTo(i*Width/4,Height-1);
				    ctx.stroke();
			  	}
			  }
			  ctx.restore();

			  // Minute marks
			  ctx.save();
			  for (i=1;i<4;i++){
			  	if((i*Height/4)%1==0){
			      ctx.beginPath();
			      ctx.moveTo(0,i*Height/4+0.5);
			      ctx.lineTo(Width-1,i*Height/4+0.5);
			      ctx.stroke();
		      }else{
						ctx.beginPath();
			      ctx.moveTo(0,i*Height/4);
			      ctx.lineTo(Width-1,i*Height/4);
			      ctx.stroke();
		      }
			  }
			  ctx.restore();
			}
		</script>
		
	</head>
	<body onload="init();">
		<canvas id="canvas" width="150" height="150">啥都没有。。。</canvas>
	</body>
</html>