<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>别踩白块</title>
		<style type="text/css">
			* {
				margin:0;
				padding:0;
			}
			html,body{
				height:100%;
				width:100%;
			}
      canvas { 
      	display: block;
      }
    </style>
		<script type="text/javascript">
			document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
				WeixinJSBridge.call('hideToolbar');
			});
			var Width = window.innerWidth;
			var Height = window.innerHeight;
			
			var startPoints = [];
			for(var i = 0;i<16;i++){
				startPoints[i] = [];
			}
			for(var i = 0;i<16;i++){
				startPoints[i][0] = ((i%4)*Width/4)%1==0?(i%4)*Width/4:(i%4)*Width/4-((i%4)*Width/4)%1;
				startPoints[i][1] = (Math.floor(i/4)*Height/4)%1==0?Math.floor(i/4)*Height/4:Math.floor(i/4)*Height/4-(Math.floor(i/4)*Height/4)%1;
			}

			function init(){
				console.log(startPoints);
				document.getElementById('canvas').width = Width;
				document.getElementById('canvas').height = Height;
				var canvas = document.getElementById('canvas');
				console.log(Width);
				canvas.addEventListener('touchstart',function(event){
					drawRectByPosition(getPosition(event.changedTouches[0].clientX,event.changedTouches[0].clientY));
					canvas.addEventListener('touchend',function(){
						clearRectByPosition(getPosition(event.changedTouches[0].clientX,event.changedTouches[0].clientY));
					});
				});


				function drawRectByPosition(position){
					console.log(position);
					var ctx = canvas.getContext('2d');
					ctx.fillStyle = 'black';
					ctx.save();
					//ctx.scale(0.7,0.7);
					ctx.fillRect(startPoints[position][0],startPoints[position][1],(Width/4)%1==0?Width/4:Width/4-(Width/4)%1,(Height/4)%1==0?Height/4:Height/4-(Height/4)%1);
					ctx.restore();
				}

				function clearRectByPosition(position){
					var ctx = canvas.getContext('2d');
					ctx.clearRect(startPoints[position][0],startPoints[position][1],(Width/4)%1==0?Width/4:Width/4-(Width/4)%1,(Height/4)%1==0?Height/4:Height/4-(Height/4)%1);
				}

				function getPosition(x,y){
					if(y<startPoints[4][1]){
						if(x<startPoints[1][0]){
							return 0;
						}else if(x<startPoints[2][0]){
							return 1;
						}else if(x<startPoints[3][0]){
							return 2;
						}else{
							return 3;
						}
					}else if(y<startPoints[8][1]){
						if(x<startPoints[1][0]){
							return 4;
						}else if(x<startPoints[2][0]){
							return 5;
						}else if(x<startPoints[3][0]){
							return 6;
						}else{
							return 7;
						}
					}else if(y<startPoints[12][1]){
						if(x<startPoints[1][0]){
							return 8;
						}else if(x<startPoints[2][0]){
							return 9;
						}else if(x<startPoints[3][0]){
							return 10;
						}else{
							return 11;
						}
					}else{
						if(x<startPoints[1][0]){
							return 12;
						}else if(x<startPoints[2][0]){
							return 13;
						}else if(x<startPoints[3][0]){
							return 14;
						}else{
							return 15;
						}
					}
				}
			  drawGred();
			}
			function drawGred(){
			  var ctx = canvas.getContext('2d');
			  ctx.save();
			  ctx.clearRect(0,0,Width,Height);
			  ctx.strokeStyle = "black";
			  ctx.fillStyle = "white";
			  ctx.lineWidth = 1;

			  // Hour marks
			  ctx.save();
			  for (var i=1;i<4;i++){
			  	if((i*Width/4)%1!=0.5){
			  		ctx.beginPath();
				    ctx.moveTo(i*Width/4-0.5-(i*Width/4)%1,0);
				    ctx.lineTo(i*Width/4-0.5-(i*Width/4)%1,Height);
				    ctx.stroke();
			  	}else{
			  		ctx.beginPath();
				    ctx.moveTo(i*Width/4,0);
				    ctx.lineTo(i*Width/4,Height);
				    ctx.stroke();
			  	}
			  }
			  ctx.restore();

			  // Minute marks
			  ctx.save();
			  for (i=1;i<4;i++){
			  	if((i*Height/4)%1!=0.5){
			      ctx.beginPath();
			      ctx.moveTo(0,i*Height/4-0.5-(i*Height/4)%1);
			      ctx.lineTo(Width,i*Height/4-0.5-(i*Height/4)%1);
			      ctx.stroke();
		      }else{
						ctx.beginPath();
			      ctx.moveTo(0,i*Height/4);
			      ctx.lineTo(Width,i*Height/4);
			      ctx.stroke();
		      }
			  }
			  ctx.restore();
			}
		</script>
		
	</head>
	<body onload="init();">
		<canvas id="canvas" width="150" height="150">啥都没有。。。</canvas>
	</body>
</html>