<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>painter</title>
  <style type="text/css">
    * {
      margin:0;
      padding:0;
    }
    html,body{
      height:100%;
      width:100%;
    }
    canvas { 
      display: block;
    }
    #button{
      padding:10px;
      /*background-color:#5BBBEE;*/
      border-radius:10%;
      position:absolute;
      top:10px;
      left:10px;
      color:white;
    }
    #finish{
      padding: 10px;
      border-radius: 10%;
      background-color:white;
      position: absolute;
      top:10px;
      right:10px;
    }
  </style>
  <script type="text/javascript">
  function getRandomColor(){
    return '#'+(Math.random()*0xffffff<<0).toString(16);
  }
  function linePoint(canvas,x,y){
    with(canvas){
      moveTo(x,y);
      lineTo(x+1,y+1);
    }
  }
  function circlePoint(canvas,x,y){
    with(canvas){
      arc(x,y,0.0001,0,Math.PI*2,true);
    }
  }
  function post(url,params,callback){
    params = params || '';
    /* 创建 XMLHttpRequest 对象 */
    var xmlHttp = new XMLHttpRequest();
    if (xmlHttp==null){
      alert('您的浏览器不支持AJAX！');
      return;
    }
    xmlHttp.open("POST",url,true);
    xmlHttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    xmlHttp.send(params);
    xmlHttp.onreadystatechange = callback;//发送事件后，收到信息了调用函数
    if (xmlHttp.readyState==4 && xmlHttp.status==200){
      // 处理返回值
      console.log(xmlHttp.responseText);
    }
  }
  
  function init(){
    var canvas = document.getElementById('canvas');
    var button = document.getElementById('button');
    var finish = document.getElementById('finish');
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

    var ctx = canvas.getContext('2d');
    var color = getRandomColor();
    button.style.backgroundColor = color;
    button.style.color = getRandomColor();
    var trackList = [];
    ctx.fillStyle = color;
    ctx.save();
    ctx.lineWidth = 0.3;
    ctx.strokeStyle = color;
    ctx.lineCap="round";
    ctx.lineJoin = "round";
    canvas.addEventListener('touchstart',function(event){
      event.preventDefault();
      trackList.push(ctx.getImageData(0,0,canvas.width,canvas.height));
      ctx.beginPath();
    });
    canvas.addEventListener('touchmove',function(event){
      event.preventDefault();
      ctx.lineTo(event.touches[0].clientX, event.touches[0].clientY);
      ctx.stroke();
    });
    canvas.addEventListener('touchend',function(event){
      event.preventDefault();
      //ctx.lineTo(event.changedTouches[0].clientX, event.changedTouches[0].clientY);
      //ctx.stroke();
    })
    canvas.addEventListener('tap',function(event){
      event.preventDefault();
      console.log('tap');
    });


    button.addEventListener('touchend',function(event){
      event.preventDefault();
      event.stopPropagation();
      console.log(trackList.length);
      if(trackList.length>0){
        ctx.putImageData(trackList.pop(),0,0);
      }
    });

    <%if(parent!=0){%>
      var img = new Image();
      img.src = "<%=base64%>";
      ctx.drawImage(img, 0, 0);
    <%}%>

    finish.addEventListener('touchend',function(event){
      var timestamp = Date.now();
      post('http://lcy-blog.com/project/painter/'+timestamp,'parent=<%=parent%>&base64='+document.getElementById('canvas').toDataURL("image/png"),function(err,data){
        console.log(err);
        console.log(data);
        window.location.href = 'http://lcy-blog.com/project/painter/'+timestamp;
      });
    });
  }

  </script>
</head>
<body onload="init();">
  <canvas id="canvas" width="150" height="150">啥都没有。。。</canvas>
  <a id="button">取消</a>
  <a id="finish">完成</a>
</body>
</html>