<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>stock</title>
		<script type="text/javascript" src="/javascripts/Chart.min.js"></script>
	</head>
	<body>
			<div>
				<canvas id="canvas" height="750" width="1600"></canvas>
			</div>


	<script>
		var lineChartData = {
				
			labels : [<%=labels%>],
			datasets : [
				{
					label: "My First dataset",
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : [<%=data%>]
				}
			]

		}

	window.onload = function(){
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myLine = new Chart(ctx).Line(lineChartData, {
			responsive: true
		});
	}


	</script>
	</body>
</html>