<div class="main_hd">
  <h2>material manage</h2>
  <div class="tab_navs">
    <div class="js_practice_image tab_nav selected">Practice Image</div>
    <div class="js_test_image tab_nav">Test Image</div>
    <div class="js_train_image tab_nav">Train Image</div>
    <div class="js_practice_text tab_nav">Practice Text</div>
    <div class="js_test_text tab_nav">Test Text</div>
    <div class="js_train_text tab_nav">Train Text</div>
  </div>
</div>
<div id="practice_image_bd" class="main_bd">
  <div class="pfd">
    积极
    <div class="pimg_fd" data-stage="1">
      <%if(material){%>
        <%material.forEach(function(item,index,array){%>
          <%if(item.polarity==1&&item.stage==1){%>
          <div data-id="<%=item._id%>" class="img_item real"><h3><%=item.sequence%></h3><img src="<%=item.content%>"/><p><%=item.content.split('/')[3]%></p><div></div></div>
          <%}%>
        <%});%>
      <%}%>
    </div>
  </div> 
  <div class="nfd">
    消极 
    <div class="nimg_fd" data-stage="1">
      <%if(material){%>
        <%material.forEach(function(item,index,array){%>
          <%if(item.polarity==0&&item.stage==1){%>
          <div data-id="<%=item._id%>" class="img_item real"><h3><%=item.sequence%></h3><img src="<%=item.content%>"/><p><%=item.content.split('/')[3]%></p><div></div></div>
          <%}%>
        <%});%>
      <%}%>
    </div>
  </div>
</div>
<div id="test_image_bd" class="main_bd" style="display:none;">
  <div class="pfd">
    积极
    <div class="pimg_fd" data-stage="2">
      <%if(material){%>
        <%material.forEach(function(item,index,array){%>
          <%if(item.polarity==1&&item.stage==2){%>
          <div data-id="<%=item._id%>" class="img_item real"><h3><%=item.sequence%></h3><img src="<%=item.content%>"/><p><%=item.content.split('/')[3]%></p><div></div></div>
          <%}%>
        <%});%>
      <%}%>
    </div>
  </div> 
  <div class="nfd">
    消极 
    <div class="nimg_fd"  data-stage="2">
      <%if(material){%>
        <%material.forEach(function(item,index,array){%>
          <%if(item.polarity==0&&item.stage==2){%>
          <div data-id="<%=item._id%>" class="img_item real"><h3><%=item.sequence%></h3><img src="<%=item.content%>"/><p><%=item.content.split('/')[3]%></p><div></div></div>
          <%}%>
        <%});%>
      <%}%>
    </div>
  </div>
</div>
<div id="train_image_bd" class="main_bd" style="display:none;">
  <div class="pfd">
    积极
    <div class="pimg_fd" data-stage="3">
      <%if(material){%>
        <%material.forEach(function(item,index,array){%>
          <%if(item.polarity==1&&item.stage==3){%>
          <div data-id="<%=item._id%>" class="img_item real"><h3><%=item.sequence%></h3><img src="<%=item.content%>"/><p><%=item.content.split('/')[3]%></p><div></div></div>
          <%}%>
        <%});%>
      <%}%>
    </div>
  </div> 
  <div class="nfd">
    消极 
    <div class="nimg_fd" data-stage="3">
      <%if(material){%>
        <%material.forEach(function(item,index,array){%>
          <%if(item.polarity==0&&item.stage==3){%>
          <div data-id="<%=item._id%>" class="img_item real"><h3><%=item.sequence%></h3><img src="<%=item.content%>"/><p><%=item.content.split('/')[3]%></p><div></div></div>
          <%}%>
        <%});%>
      <%}%>
    </div>
  </div>
</div>

<div id="practice_text_bd" class="main_bd" style="display:none;">
  <div class="center_fd">
    <div class="text_fd">
      <div class="t add_subject" data-stage="1">添加句子</div>
      <%if(text){%>
      <%text.forEach(function(item,index,array){%>
        <%if(item.stage==1){%>
        <div class="wrap">
          <div class="nword subject_item">消极词:<%=item.nword%></div>
          <div class="pword subject_item">积极词:<%=item.pword%></div>
          <div data-id="<%=item._id%>" class="subject_item" style="clear:both;">句子：<%=item.sentence%></div>
        </div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div>
</div>

<div id="test_text_bd" class="main_bd" style="display:none;">
  <div class="center_fd">
    <div class="text_fd">
      <div class="t add_subject" data-stage="2">添加句子</div>
      <%if(text){%>
      <%text.forEach(function(item,index,array){%>
        <%if(item.stage==2){%>
        <div class="wrap">
          <div class="nword subject_item">消极词:<%=item.nword%></div>
          <div class="pword subject_item">积极词:<%=item.pword%></div>
          <div data-id="<%=item._id%>" class="subject_item" style="clear:both;">句子：<%=item.sentence%></div>
        </div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div>
</div>

<div id="train_text_bd" class="main_bd" style="display:none;">
  <div class="center_fd">
    <div class="text_fd">
      <div class="t add_subject" data-stage="3">添加句子</div>
      <%if(text){%>
      <%text.forEach(function(item,index,array){%>
        <%if(item.stage==3){%>
        <div class="wrap">
          <div class="nword subject_item">消极词:<%=item.nword%></div>
          <div class="pword subject_item">积极词:<%=item.pword%></div>
          <div data-id="<%=item._id%>" class="subject_item" style="clear:both;">句子：<%=item.sentence%></div>
        </div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div>
</div>
