<div class="main_hd">
  <h2>subjects manage</h2>
  <div class="tab_navs">
    <div class="tab_nav selected">subjects</div>
  </div>
</div>
<div class="main_bd">
  <div class="sfd">
    统计信息
    <div class="statistics_fd">
      <p>全部人数：<%=subjects?subjects.length:0%></p>
      <p>已完成实验人数：<%=sc_count%></p>
      <p>控制组人数：<%=cs_count%></p>
      <p>控制组完成实验人数：<%=csc_count%></p>
      <p>实验组人数：<%=ts_count%></p>
      <p>实验组完成实验人数：<%=tsc_count%></p>
    </div>
  </div>
  <div class="tfd">
    实验组
    <div class="tsubject_fd">
      <div class="t add_subject">添加被试</div>
      <%if(subjects){%>
      <%subjects.forEach(function(item,index,array){%>
        <%if(item.type==1){%>
        <div data-id="<%=item._id%>" class="subject_item">&nbsp;&nbsp;&nbsp;<%=item.name%></div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div> 
  <div class="cfd">
    控制组
    <div class="csubject_fd">
      <div class="c add_subject">添加被试</div>
      <%if(subjects){%>
      <%subjects.forEach(function(item,index,array){%>
        <%if(item.type==0){%>
        <div data-id="<%=item._id%>" class="subject_item">&nbsp;&nbsp;&nbsp;<%=item.name%></div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div> 
</div>