<div class="main_hd">
  <h2>subjects manage</h2>
  <div class="tab_navs">
    <div class="tab_nav selected">subjects</div>
  </div>
</div>
<div class="main_bd">
  <div class="tfd">
    实验组1
    <div class="tsubject_fd">
      <div class="t1 add_subject">添加被试</div>
      <%if(subjects){%>
      <%subjects.forEach(function(item,index,array){%>
        <%if(item.type==1){%>
        <div data-id="<%=item._id%>" class="subject_item"><%=item.name%><span style="float:right;"><%=item.complete?'(已完成)':'(未完成)'%></span></div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div> 
  <div class="tfd">
    实验组2
    <div class="tsubject_fd">
      <div class="t2 add_subject">添加被试</div>
      <%if(subjects){%>
      <%subjects.forEach(function(item,index,array){%>
        <%if(item.type==2){%>
        <div data-id="<%=item._id%>" class="subject_item"><%=item.name%><span style="float:right;"><%=item.complete?'(已完成)':'(未完成)'%></span></div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div> 
  <div class="cfd">
    控制组1
    <div class="csubject_fd">
      <div class="c1 add_subject">添加被试</div>
      <%if(subjects){%>
      <%subjects.forEach(function(item,index,array){%>
        <%if(item.type==0){%>
        <div data-id="<%=item._id%>" class="subject_item"><%=item.name%><span style="float:right;"><%=item.complete?'(已完成)':'(未完成)'%></span></div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div> 
  <div class="cfd">
    控制组2
    <div class="csubject_fd">
      <div class="c2 add_subject">添加被试</div>
      <%if(subjects){%>
      <%subjects.forEach(function(item,index,array){%>
        <%if(item.type==-1){%>
        <div data-id="<%=item._id%>" class="subject_item"><%=item.name%><span style="float:right;"><%=item.complete?'(已完成)':'(未完成)'%></span></div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div> 
</div>