<%include header.html%>
<%include navbar.html%>
	<div class="container">
		<div class="col-md-8 col-md-offset-3">
			<table class="table">
				<thead>
					<tr>
						<th>ip</th>	
						<th>frequency</th>
						<th>last visited time</th>	
					</tr>
				</thead>
				<tbody>
					<%if(visitors){%>
						<%visitors.forEach(function(visitor){%>
						<tr>
							<td><%=visitor.ip%></td>
							<td><%=visitor.frequency%></td>
							<td><%=visitor.lastVisitTime.toLocaleDateString()%>&nbsp;<%=visitor.lastVisitTime.toLocaleTimeString()%></td>
						</tr>
						<%})%>
					<%}%>
				</tbody>
			</table>	
		</div>
	</div>
<%include footer.html%>