<%include header.html%>
	<%include navbar.html%>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-9">
				<div class="bs-sidebar affix">
					<ul class="nav">
						<%if(posts){%>
							<%posts.forEach(function(post){%>
								<li><a class="sidebar_a" onclick="scroll('<%=post.id%>')"><%=post.title%></a></li>
							<%})%>
						<%}%>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9" id="posts">
				<%if(!posts){%>
					<h2>主人很懒，什么都没有留下。。。</h2>
				<%}else{%>
					<%posts.forEach(function(post){%>
						<div class="col-xs-12 post">
							<article class="col-xs-12 article" id="<%=post.id%>">
								<%=post.body%>
							</article>
							<hr>
							<div class="col-xs-12">
								<small><em>posted at <%=post.update.toLocaleTimeString()%>&nbsp;<%=post.update.toLocaleDateString()%></em>
								</small>
								<%if(user){%>
								<div class="pull-right">
									<a style="color:#555" href="/edit/<%=post.id%>"><span class="glyphicon glyphicon-pencil"></span></a>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<a style="color:#555" href="/remove/<%=post.id%>"><span class="glyphicon glyphicon-remove"></span></a>
								</div>
								<%}%>
								<div class="pull-right">
									<a id="like_<%=post.id%>" style="color:#555;cursor: pointer;" onclick="like('<%=post.id%>')"><span class="glyphicon glyphicon-thumbs-up">(<%=post.like%>)</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
								</div>	
							</div>
						</div>
					<%})%>
				<%}%>
			</div>
			
		</div>
	</div>
	<div class="spinner">
	  <div class="rect1"></div>
	  <div class="rect2"></div>
	  <div class="rect3"></div>
	  <div class="rect4"></div>
	  <div class="rect5"></div>
	</div>
	<%include footer.html%>
	<script type="text/javascript">
		(function($){
			$('header,div.container').hide();
		})(jQuery);
	</script>	
	<%include otherscript.html%>
	<script type="text/javascript">
	  $(document).ready(function(){
	  	$('div.spinner').remove();
	  	var converter = new Showdown.converter({ extensions: ['github','prettify','table'] });
			$(".article").html(function(i){
				return converter.makeHtml($(".article:eq("+i+")").text());
			});	
			prettyPrint();
			$('header,div.container').slideDown('slow');
	  });
	</script>
	<script type="text/javascript">
	(function($){
		function getElementTop(element){
　　　　var actualTop = element.offsetTop;
　　　　var current = element.offsetParent;
　　　　while (current !== null){
　　　　　　actualTop += current.offsetTop;
　　　　　　current = current.offsetParent;
　　　　}
　　　　return actualTop;
　　}

		function scroll(id){
			var top = getElementTop(document.getElementById(id))-128;
			$("html").animate({scrollTop:top},120);
			$("body").animate({scrollTop:top},120);
		}

		function like(id){
			$.get('/like/'+id,function(){
				$('#like_'+id).load(location.href+' #like_'+id+'>*');
			});
		}
	})(jQuery);
	</script>
