<%include header.html%>
	<%include navbar.html%>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-9">
				<div class="bs-sidebar affix">
					<ul class="nav">
						<%if(posts){%>
							<%posts.forEach(function(post){%>
								<li><a class="sidebar_a" onclick="scroll('<%=post.title%>')"><%=post.title%></a></li>
							<%})%>
						<%}%>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9" id="posts">
				<%if(!posts){%>
					<h2>主人很懒，什么都没有留下。。。</h2>
				<%}else{%>
					<%posts.forEach(function(post){%>
						<article class="col-xs-12 post" id="<%=post.title%>">
							<%=post.body%>
						</article>
					<%})%>
				<%}%>
			</div>
			
		</div>
	</div>
	<%include footer.html%>
	<%include otherscript.html%>
	<script type="text/javascript">
	  $(document).ready(function(){
	  	var converter = new Showdown.converter({ extensions: ['github','prettify','table'] });
			$(".post").html(function(i){
				return converter.makeHtml($(".post:eq("+i+")").text());
			});	
			prettyPrint();
	  });
	</script>
	<script type="text/javascript">
		function getElementTop(element){
　　　　var actualTop = element.offsetTop;
　　　　var current = element.offsetParent;
　　　　while (current !== null){
　　　　　　actualTop += current.offsetTop;
　　　　　　current = current.offsetParent;
　　　　}
　　　　return actualTop;
　　}

		function scroll(id){
			var top = getElementTop(document.getElementById(id))-90;
			$("body").animate({scrollTop:top},120);
		}
	</script>
