
<header class="navbar navbar-default" id="navbar" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="./post">大L的博客</a>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<form class="navbar-form navbar-right" role="search">
				<div class="row">
					<div class="form-group col-xs-9 col-sm-9 col-md-9">
						<input type="text" class="form-control" placeholder="站内查找"></div>
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-search"></span>
						</button>
				</div>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li class="active">
					<a href="../">文章</a>
				</li>
				<li>
					<a href="../tags">标签</a>
				</li>
				<li>
					<a href="../segments">碎片</a>
				</li>
				<li>
					<a href="../projects">小玩艺儿</a>
				</li>
				<li>
					<a href="../about">关于</a>
				</li>
			</ul>
		</nav>
	</div>
</header>