	<script src="/javascripts/showdown-master/showdown-master/compressed/showdown.js"></script>
	<script src="/javascripts/showdown-master/showdown-master/compressed/extensions/github.js"></script>
	<script src="/javascripts/showdown-master/showdown-master/compressed/extensions/prettify.js"></script>
	<script src="/javascripts/showdown-master/showdown-master/compressed/extensions/table.js"></script>
	<script src="/google-code-prettify/prettify.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>