<%include header.html%>
	<%include navbar.html%>
	<br><br><br>
	<div class="container">
		<form class="form-horizontal col-xs-12 col-sm-12 col-md-12" role="form" method="post">

			<div class="form-group">
	      <ul id="myTab" class="nav nav-tabs">
	        <li class="active"><a href="#write" data-toggle="tab">输入</a></li>
	        <li class=""><a href="#preview" id="a_preview" data-toggle="tab">预览</a></li>
	      </ul>
	      <div id="myTabContent" class="tab-content">
          <textarea style="margin-top:10px" class="write form-control col-xs-12 tab-pane fade active in" name="write" id="write" placeholder="写点啥？"><%if(post){%><%=post.body%><%}%></textarea>
	        <div style="margin-top:10px;background-color:#fff;" class="tab-pane fade post" id="preview">
	          
	        </div>
	      </div>
			</div>
		  <div class="form-group">
		    <div class="col-sx-12">
		      <button type="submit" id="submit" class="btn btn-default btn-lg btn-block">完 成</button>
		    </div>
		  </div>
		</form>
  </div>
	<%include otherscript.html%>
	<script type="text/javascript">
	$(function(){
		var inputMode = false;
		var key;
		var keyMap;
		var inputMap = {
			'9':'tab',
			'27':'esc'
		};
		var controlMap = {
			'8':'backspace',
			'9':'tab',
			'18':'alt',
			'27':'esc',
			'65':'a',
			'68':'d',
			'72':'h',
			'73':'i',
			'74':'j',
			'75':'k',
			'76':'l',
			'79':'o',
			'85':'u',
			'86':'v'
		}
  	$('#write').keydown(function(event){
  		var _this = $(this);
  		key = event.which;
  		alert(key);
  		if(inputMode){
  			keyMap = inputMap;
  		}else{
  			keyMap = controlMap;
  			event.preventDefault();
  		}	
  		if(key in keyMap){
  			event.preventDefault();
  			switch(keyMap[key]){
  				case 'esc':
  					inputMode = false;
  					break;
  				case 'i':
  					inputMode = true;
  					break;
  				case 'tab':
			  		var tab = '  ';
			  		var start = this.selectionStart;
			  		var end = this.selectionEnd;
			  		var text = _this.val();
  					_this.val(text.substr(0,start)+tab+text.substr(start));
  					this.selectionStart=start+tab.length;
  					this.selectionEnd = end + tab.length;
  					break;
  			}
  		}
  		localStorage['article'] = _this.val();
  	});
	});
	</script>




  <script type="text/javascript">
  $(document).ready(function(){


  	$("#write").height($(window).height()-$("#write").offset().top-90);

  	var storage = localStorage['article'];
  	if(storage!=null&&storage!=''){
  		$('#write').val(storage);
  	}

  	var converter = new Showdown.converter({ extensions: ['github','prettify','table'] });
	  $("#a_preview").click(function(){
  		$("#preview").html(converter.makeHtml($("#write").val()));
			prettyPrint();
	  });

	  $('form').on('submit',function(event){
	  	localStorage.removeItem('article');
	  })
  });
  </script>