<%include header.html%>
	<%include navbar.html%>
	<br><br><br>
	<div class="container">
		<form class="form-horizontal col-xs-12 col-sm-12 col-md-12" role="form" method="post">

			<div class="form-group">
	      <ul id="myTab" class="nav nav-tabs">
	        <li class="active"><a href="#write" data-toggle="tab">输入</a></li>
	        <li class=""><a href="#preview" id="a_preview" data-toggle="tab">预览</a></li>
	      </ul>
	      <div id="myTabContent" class="tab-content">
          <textarea style="margin-top:10px" class="form-control col-xs-12 tab-pane fade active in" name="write" id="write" placeholder="写点啥？"><%if(post){%><%=post.body%><%}%></textarea>
	        <div style="margin-top:10px;background-color:#fff;" class="tab-pane fade post" id="preview">
	          
	        </div>
	      </div>
			</div>
		  <div class="form-group">
		    <div class="col-sx-12">
		    	<a id="weibo" class="btn btn-default btn-lg btn-block">发微博</a>
		      <button type="submit" id="submit" class="btn btn-default btn-lg btn-block">完 成</button>
		    </div>
		  </div>
		</form>
  </div>
	<%include otherscript.html%>
  <script type="text/javascript">
  $(document).ready(function(){
  	$("#write").height($(window).height()-$("#write").offset().top-90);

  	var converter = new Showdown.converter({ extensions: ['github','prettify','table'] });
	  $("#a_preview").click(function(){

	  	$("#preview").html(converter.makeHtml($("#write").val()));
			prettyPrint();
	  });

	  $("#weibo").click(function(){
	  	if(WB2.checkLogin()){
	  		WB2.anyWhere(function(W){
	  			var title = $("#write").val().match(/^.+$/m);
	  			W.parseCMD("/statuses/update.json",function(sResult,bStatus){
	  				if(bStatus==false){
	  					alert('false!');
	  				}else{
	  					alert('发送成功')
	  				}
	  			},{
	  				status:"我刚刚发表了一篇文章《"+title[0]+"》，快来看看吧！http://lcy-blog.com"	
	  			});
	  		});
	  	}
	  });
  });
  </script>