a {
  color: #00B7FF;
}


body {
	font-family: "Helvetica Neue", "Helvetica", Arial,"Hiragino Sans GB","WenQuanYi Micro Hei",SimSun, sans-serif;
	-webkit-font-smoothing: antialiased;
  position: relative;
  display: block;
  background: rgb(255,255,255);
}

.navbar {
  background: rgba(255,255,255,0.9);
	border-bottom:1px solid rgba(180, 180, 180, 0.5);
}

h2 {
  background: url('/images/hr.png') bottom center no-repeat;
  padding-bottom: 15px;
}

.post {
  border-bottom: 1px solid rgba(180,180,180,0.9);
  padding-bottom: 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: rgb(85, 85, 85);
  background-color: rgba(231, 231, 231, 0.5);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background: rgb(255,248,255);
}

::selection {
  background: rgba(0,55,177,0.7);
  color:#fff;
}
::-moz-selection {
  background: rgba(0,55,177,0.7);
  color:#fff;
}





/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}

.sidebar_a:hover {
  left: 5px;
  top: 5px;
}

.sidebar_a {
  transition-property:left,top;
  transition-duration:200ms,200ms;
  -webkit-transition-property:left,top;
  -webkit-transition-duration:200ms,200ms;
  -moz-transition-property:left,top;
  -moz-transition-duration:200ms,200ms;
}

.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

@media (max-width: 991px){
  .bs-sidebar.affix {
    padding-top: 80px;
  }
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}
