<div class="main_hd">
  <h2>material manage</h2>
  <div class="tab_navs">
    <div ng-click="select(1)" ng-class="{selected:isSelected(1)}" class="js_practice_image tab_nav">Practice Image</div>
    <div ng-click="select(2)" ng-class="{selected:isSelected(2)}" class="js_test_image tab_nav">Test Image</div>
    <div ng-click="select(3)" ng-class="{selected:isSelected(3)}" class="js_train_image tab_nav">Train Image</div>
    <div ng-click="select(4)" ng-class="{selected:isSelected(4)}" class="js_practice_text tab_nav">Practice Text</div>
    <div ng-click="select(5)" ng-class="{selected:isSelected(5)}" class="js_test_text tab_nav">Test Text</div>
    <div ng-click="select(6)" ng-class="{selected:isSelected(6)}" class="js_train_text tab_nav">Train Text</div>
  </div>
</div>
<div id="practice_image_bd" class="main_bd" ng-show="isSelected(1)">
  <div class="pfd" ng-controller="practice_image">
    实验组
    <div class="pimg_fd">
      <div ng-hide="isCreating()" ng-click="creating()" class="t add_materialpairs">添加图片对(<span>{{array.length}}</span>)</div>
      <div ng-if="isCreating()" class="img_item real">
        <h3>{{array.length+1}}</h3>
        <div class="upimg" imageDrop>
          <h1>上图</h1>
          <p>显示字母:{{letter}}</p>
        </div>
        <div class="downimg" imageDrop>
          <h1>下图</h1>
          <p>积极概率:{{position}}</p>
        </div>
        <p>
          <input ng-model="letter" name="letter" placeholder="显示字母" required/>
          <input ng-model="position" name="position" placeholder="显示在积极图片后的概率" required/>
          <a ng-click="submit()">确定</a>
          <a ng-click="cancelCreating()">取消</a>
        </p>
      </div>
      <div ng-repeat="item in array" class="img_item real">
        <h3>{{item.sequence}}</h3>
        <div class="upimg">
          <img ng-src="{{item.upImg}}"/>
          <p>{{item.upImg.split('/')[3]}}</p>
          <p>上图</p>
          <p>显示字母:{{letter}}</p>
          <i></i>
        </div>
        <div class="downimg">
          <img ng-src="{{item.downImg}}"/>
          <p>{{item.downImg.split('/')[3]}}</p>
          <p>下图</p>
          <p>积极概率:{{position}}</p>
          <i></i>
        </div>
        <p>
          <a ng-click="delete(item)">删除</a>
        </p>
      </div>
    </div>
  </div>
  <div class="con_fd" ng-controller="practice_image_con">
    控制组
    <div class="conimg_fd">
      <div ng-hide="isCreating()" ng-click="creating()" class="t add_materialpairs">添加图片对(<span>{{array.length}}</span>)</div>
      <div ng-if="isCreating()" class="img_item real">
        <h3>{{array.length+1}}</h3>
        <div class="upimg" imageDrop>
          <h1>上图</h1>
          <p>显示字母:{{letter}}</p>
        </div>
        <div class="downimg" imageDrop>
          <h1>下图</h1>
          <p>积极概率:{{position}}</p>
        </div>
        <p>
          <input ng-model="letter" name="letter" placeholder="显示字母" required/>
          <input ng-model="position" name="position" placeholder="显示在积极图片后的概率" required/>
          <a ng-click="submit()">确定</a>
          <a ng-click="cancelCreating()">取消</a>
        </p>
      </div>
      <div ng-repeat="item in array" class="img_item real">
        <h3>{{item.sequence}}</h3>
        <div class="upimg">
          <img ng-src="{{item.upImg}}"/>
          <p>{{item.upImg.split('/')[3]}}</p>
          <p>上图</p>
          <p>显示字母:{{letter}}</p>
          <i></i>
        </div>
        <div class="downimg">
          <img ng-src="{{item.downImg}}"/>
          <p>{{item.downImg.split('/')[3]}}</p>
          <p>下图</p>
          <p>积极概率:{{position}}</p>
          <i></i>
        </div>
        <p>
          <a ng-click="delete(item)">删除</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div id="test_image_bd" class="main_bd" ng-show="isSelected(2)">
  <div class="pfd" ng-controller="test_image">
    实验组
    <div class="pimg_fd">
      <div ng-hide="isCreating()" ng-click="creating()" class="t add_materialpairs">添加图片对(<span>{{array.length}}</span>)</div>
      <div ng-if="isCreating()" class="img_item real">
        <h3>{{array.length+1}}</h3>
        <div class="upimg" imageDrop>
          <h1>上图</h1>
          <p>显示字母:{{letter}}</p>
        </div>
        <div class="downimg" imageDrop>
          <h1>下图</h1>
          <p>积极概率:{{position}}</p>
        </div>
        <p>
          <input ng-model="letter" name="letter" placeholder="显示字母" required/>
          <input ng-model="position" name="position" placeholder="显示在积极图片后的概率" required/>
          <a ng-click="submit()">确定</a>
          <a ng-click="cancelCreating()">取消</a>
        </p>
      </div>
      <div ng-repeat="item in array" class="img_item real">
        <h3>{{item.sequence}}</h3>
        <div class="upimg">
          <img ng-src="{{item.upImg}}"/>
          <p>{{item.upImg.split('/')[3]}}</p>
          <p>上图</p>
          <p>显示字母:{{letter}}</p>
          <i></i>
        </div>
        <div class="downimg">
          <img ng-src="{{item.downImg}}"/>
          <p>{{item.downImg.split('/')[3]}}</p>
          <p>下图</p>
          <p>积极概率:{{position}}</p>
          <i></i>
        </div>
        <p>
          <a ng-click="delete(item)">删除</a>
        </p>
      </div>
    </div>
  </div>
  <div class="con_fd" ng-controller="test_image_con">
    控制组
    <div class="conimg_fd">
      <div ng-hide="isCreating()" ng-click="creating()" class="t add_materialpairs">添加图片对(<span>{{array.length}}</span>)</div>
      <div ng-if="isCreating()" class="img_item real">
        <h3>{{array.length+1}}</h3>
        <div class="upimg" imageDrop>
          <h1>上图</h1>
          <p>显示字母:{{letter}}</p>
        </div>
        <div class="downimg" imageDrop>
          <h1>下图</h1>
          <p>积极概率:{{position}}</p>
        </div>
        <p>
          <input ng-model="letter" name="letter" placeholder="显示字母" required/>
          <input ng-model="position" name="position" placeholder="显示在积极图片后的概率" required/>
          <a ng-click="submit()">确定</a>
          <a ng-click="cancelCreating()">取消</a>
        </p>
      </div>
      <div ng-repeat="item in array" class="img_item real">
        <h3>{{item.sequence}}</h3>
        <div class="upimg">
          <img ng-src="{{item.upImg}}"/>
          <p>{{item.upImg.split('/')[3]}}</p>
          <p>上图</p>
          <p>显示字母:{{letter}}</p>
          <i></i>
        </div>
        <div class="downimg">
          <img ng-src="{{item.downImg}}"/>
          <p>{{item.downImg.split('/')[3]}}</p>
          <p>下图</p>
          <p>积极概率:{{position}}</p>
          <i></i>
        </div>
        <p>
          <a ng-click="delete(item)">删除</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div id="train_image_bd" class="main_bd" ng-show="isSelected(3)">
  <div class="pfd" ng-controller="train_image">
    实验组
    <div class="pimg_fd">
      <div ng-hide="isCreating()" ng-click="creating()" class="t add_materialpairs">添加图片对(<span>{{array.length}}</span>)</div>
      <div ng-if="isCreating()" class="img_item real">
        <h3>{{array.length+1}}</h3>
        <div class="upimg" imageDrop>
          <h1>上图</h1>
          <p>显示字母:{{letter}}</p>
        </div>
        <div class="downimg" imageDrop>
          <h1>下图</h1>
          <p>积极概率:{{position}}</p>
        </div>
        <p>
          <input ng-model="letter" name="letter" placeholder="显示字母" required/>
          <input ng-model="position" name="position" placeholder="显示在积极图片后的概率" required/>
          <a ng-click="submit()">确定</a>
          <a ng-click="cancelCreating()">取消</a>
        </p>
      </div>
      <div ng-repeat="item in array" class="img_item real">
        <h3>{{item.sequence}}</h3>
        <div class="upimg">
          <img ng-src="{{item.upImg}}"/>
          <p>{{item.upImg.split('/')[3]}}</p>
          <p>上图</p>
          <p>显示字母:{{letter}}</p>
          <i></i>
        </div>
        <div class="downimg">
          <img ng-src="{{item.downImg}}"/>
          <p>{{item.downImg.split('/')[3]}}</p>
          <p>下图</p>
          <p>积极概率:{{position}}</p>
          <i></i>
        </div>
        <p>
          <a ng-click="delete(item)">删除</a>
        </p>
      </div>
    </div>
  </div>
  <div class="con_fd" ng-controller="train_image_con">
    控制组
    <div class="conimg_fd">
      <div ng-hide="isCreating()" ng-click="creating()" class="t add_materialpairs">添加图片对(<span>{{array.length}}</span>)</div>
      <div ng-if="isCreating()" class="img_item real">
        <h3>{{array.length+1}}</h3>
        <div class="upimg" imageDrop>
          <h1>上图</h1>
          <p>显示字母:{{letter}}</p>
        </div>
        <div class="downimg" imageDrop>
          <h1>下图</h1>
          <p>积极概率:{{position}}</p>
        </div>
        <p>
          <input ng-model="letter" name="letter" placeholder="显示字母" required/>
          <input ng-model="position" name="position" placeholder="显示在积极图片后的概率" required/>
          <a ng-click="submit()">确定</a>
          <a ng-click="cancelCreating()">取消</a>
        </p>
      </div>
      <div ng-repeat="item in array" class="img_item real">
        <h3>{{item.sequence}}</h3>
        <div class="upimg">
          <img ng-src="{{item.upImg}}"/>
          <p>{{item.upImg.split('/')[3]}}</p>
          <p>上图</p>
          <p>显示字母:{{letter}}</p>
          <i></i>
        </div>
        <div class="downimg">
          <img ng-src="{{item.downImg}}"/>
          <p>{{item.downImg.split('/')[3]}}</p>
          <p>下图</p>
          <p>积极概率:{{position}}</p>
          <i></i>
        </div>
        <p>
          <a ng-click="delete(item)">删除</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div id="practice_text_bd" class="main_bd" ng-show="isSelected(4)">
  <div class="left_fd">
    实验组
    <div class="text_fd">
      <div class="t add_subject" data-stage="1">添加句子(<span><%=practice_text_count%></span>)</div>
      <%if(text){%>
      <%text.forEach(function(item,index,array){%>
        <%if(item.type==1&&item.stage==1){%>
        <div class="wrap">
          <div class="nword subject_item"><%=item.sequence%>&nbsp;&nbsp;消极词:<%=item.nword%></div>
          <div class="pword subject_item">积极词:<%=item.pword%></div>
          <div data-id="<%=item._id%>" class="subject_item" style="clear:both;">句子：<%=item.sentence%></div>
        </div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div>
  <div class="right_fd">
    控制组
    <div class="text_fd">
      <div class="t add_consubject" data-stage="1">添加句子(<span><%=practice_context_count%></span>)</div>
      <%if(text){%>
      <%text.forEach(function(item,index,array){%>
        <%if(item.type==0&&item.stage==1){%>
        <div class="wrap">
          <div class="nword subject_item"><%=item.sequence%></div>
          <div class="pword subject_item">词:<%=item.pword%></div>
          <div data-id="<%=item._id%>" class="subject_item" style="clear:both;">句子：<%=item.sentence%></div>
        </div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div>
</div>

<div id="test_text_bd" class="main_bd" ng-show="isSelected(5)">
  <div class="left_fd">
    实验组
    <div class="text_fd">
      <div class="t add_subject" data-stage="2">添加句子(<span><%=test_text_count%></span>)</div>
      <%if(text){%>
      <%text.forEach(function(item,index,array){%>
        <%if(item.type==1&&item.stage==2){%>
        <div class="wrap">
          <div class="nword subject_item"><%=item.sequence%>&nbsp;&nbsp;消极词:<%=item.nword%></div>
          <div class="pword subject_item">积极词:<%=item.pword%></div>
          <div data-id="<%=item._id%>" class="subject_item" style="clear:both;">句子：<%=item.sentence%></div>
        </div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div>
  <div class="right_fd">
    控制组
    <div class="text_fd">
      <div class="t add_consubject" data-stage="2">添加句子(<span><%=test_context_count%></span>)</div>
      <%if(text){%>
      <%text.forEach(function(item,index,array){%>
        <%if(item.type==0&&item.stage==2){%>
        <div class="wrap">
          <div class="nword subject_item"><%=item.sequence%></div>
          <div class="pword subject_item">词:<%=item.pword%></div>
          <div data-id="<%=item._id%>" class="subject_item" style="clear:both;">句子：<%=item.sentence%></div>
        </div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div>
</div>

<div id="train_text_bd" class="main_bd" ng-show="isSelected(6)">
  <div class="left_fd">
    实验组
    <div class="text_fd">
      <div class="t add_subject" data-stage="3">添加句子(<span><%=train_text_count%></span>)</div>
      <%if(text){%>
      <%text.forEach(function(item,index,array){%>
        <%if(item.type==1&&item.stage==3){%>
        <div class="wrap">
          <div class="nword subject_item"><%=item.sequence%>&nbsp;&nbsp;消极词:<%=item.nword%></div>
          <div class="pword subject_item">积极词:<%=item.pword%></div>
          <div data-id="<%=item._id%>" class="subject_item" style="clear:both;">句子：<%=item.sentence%></div>
        </div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div>
  <div class="right_fd">
    控制组
    <div class="text_fd">
      <div class="t add_consubject" data-stage="3">添加句子(<span><%=train_context_count%></span>)</div>
      <%if(text){%>
      <%text.forEach(function(item,index,array){%>
        <%if(item.type==0&&item.stage==3){%>
        <div class="wrap">
          <div class="nword subject_item"><%=item.sequence%></div>
          <div class="pword subject_item">词:<%=item.pword%></div>
          <div data-id="<%=item._id%>" class="subject_item" style="clear:both;">句子：<%=item.sentence%></div>
        </div>
        <%}%>
      <%});%>
      <%}%>
    </div>
  </div>
</div>
