<div class="main_hd">
  <h2>material manage</h2>
  <div class="tab_navs">
    <div ng-click="select(1)" ng-class="{selected:isSelected(1)}" class="js_practice_image tab_nav">Practice Image</div>
    <div ng-click="select(2)" ng-class="{selected:isSelected(2)}" class="js_test_image tab_nav">Test1 Image</div>
    <div ng-click="select(7)" ng-class="{selected:isSelected(7)}" class="js_test_image tab_nav">Test2 Image</div>
    <div ng-click="select(3)" ng-class="{selected:isSelected(3)}" class="js_train_image tab_nav">Train Image</div>
    <div ng-click="select(4)" ng-class="{selected:isSelected(4)}" class="js_practice_text tab_nav">Practice Text</div>
    <div ng-click="select(5)" ng-class="{selected:isSelected(5)}" class="js_test_text tab_nav">Test1 Text</div>
    <div ng-click="select(8)" ng-class="{selected:isSelected(8)}" class="js_test_text tab_nav">Test2 Text</div>
    <div ng-click="select(6)" ng-class="{selected:isSelected(6)}" class="js_train_text tab_nav">Train Text</div>
  </div>
</div>
<div class="main_bd" ng-show="isSelected(1)">
  <div class="pfd" ng-controller="practice_image">
    实验组
    <imagematerial stage="1" type="1"></imagematerial>
  </div>
  <div class="con_fd" ng-controller="practice_image_con">
    控制组
    <imagematerial stage="1" type="0"></imagematerial>
  </div>
</div>
<div class="main_bd" ng-show="isSelected(2)">
  <div class="pfd" ng-controller="test1_image">
    实验组
    <imagematerial stage="2" type="1"></imagematerial>
  </div>
  <div class="con_fd" ng-controller="test1_image_con">
    控制组
    <imagematerial stage="2" type="0"></imagematerial>
  </div>
</div>

<div class="main_bd" ng-show="isSelected(7)">
  <div class="pfd" ng-controller="test2_image">
    实验组
    <imagematerial stage="4" type="1"></imagematerial>
  </div>
  <div class="con_fd" ng-controller="test2_image_con">
    控制组
    <imagematerial stage="4" type="0"></imagematerial>
  </div>
</div>

<div class="main_bd" ng-show="isSelected(3)">
  <div class="pfd" ng-controller="train_image">
    实验组
    <imagematerial stage="3" type="1"></imagematerial>
  </div>
  <div class="con_fd" ng-controller="train_image_con">
    控制组
    <imagematerial stage="3" type="0"></imagematerial>
  </div>
</div>

<div class="main_bd" ng-show="isSelected(4)">
  <div class="left_fd">
    实验组
    <textmaterial stage="1" type="1"></textmaterial>
  </div>
  <div class="right_fd">
    控制组
    <textmaterial stage="1" type="0"></textmaterial>
  </div>
</div>

<div class="main_bd" ng-show="isSelected(5)">
  <div class="left_fd">
    实验组
    <textmaterial stage="2" type="1"></textmaterial>
  </div>
  <div class="right_fd">
    控制组
    <textmaterial stage="2" type="0"></textmaterial>
  </div>
</div>

<div class="main_bd" ng-show="isSelected(6)">
  <div class="left_fd">
    实验组
    <textmaterial stage="3" type="1"></textmaterial>
  </div>
  <div class="right_fd">
    控制组
    <textmaterial stage="3" type="0"></textmaterial>
  </div>
</div>

<div class="main_bd" ng-show="isSelected(8)">
  <div class="left_fd">
    实验组
    <textmaterial stage="4" type="1"></textmaterial>
  </div>
  <div class="right_fd">
    控制组
    <textmaterial stage="4" type="0"></textmaterial>
  </div>
</div>

